# Stable symlink for the USB-RS485 adapter.
# The Pi may enumerate it as /dev/ttyUSB0 today and /dev/ttyUSB1 tomorrow
# if you plug in another serial device. This rule pins it to /dev/sunsynk.
#
# Find your adapter's vendor/product IDs with: lsusb
# Then edit the idVendor / idProduct fields below to match.
#
# Common chipsets:
#   CH340  : 1a86:7523
#   FT232  : 0403:6001
#   CP2102 : 10c4:ea60
#
# Install with:
#   sudo cp udev/99-sunsynk-rs485.rules /etc/udev/rules.d/
#   sudo udevadm control --reload-rules && sudo udevadm trigger
#
# Then unplug/replug the adapter and check: ls -l /dev/sunsynk

SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="sunsynk", TAG+="systemd", ENV{SYSTEMD_WANTS}="sunsynk-logger.service"
